.thanks-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .thanks-background-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Dark overlay for better text visibility
    z-index: 1;
  }

  .thanks-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;

    .thanks-title {
      font-size: 3rem; // Large title text
      margin-bottom: 1rem;
      color: #dedede;
    }

    .thanks-subtitle {
      font-size: 1.2rem;
      color: #dedede;
    }
  }
}